@import url(common.css);


header {
  background: lightgray;
}

header .top {
  border: 3px solid red;
  display: flex;
}

header .social-media {
  border: 3px solid orange;
}

header .gnb {
  border: 3px solid yellow;
  display: flex;
}